@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --list-schedules;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit; outline: none;}


h1 { text-align: center; font-size: 21px; color: #616161; }
h3 {     text-align: center; font-size: 16px; color: #6060b9; }

.block-time {
  width: 100%; padding: 15px; box-shadow: 0 2px 5px -2px #00000070, 0 0px 5px -2px #0000007d; width: 85%; margin: 0 auto; margin-bottom: 30px;
  .head {
    margin-bottom: 10px;
    h2, h3 { color: black; margin: 0; }
    h2 { font-size: 14px; }
    h3 { font-size: 10px; color: #696868; text-align: left; margin-top: 5px; }
  }
  .body {
    display: flex; flex-flow: row nowrap; align-items: center; justify-content: center;
    span { font-size: 35px; }
    .hour, .minutes {
      font-size: 50px; padding: 0 20px;
    }
  }
  .footer {
    text-align: right;
    button { 
      background: none; border: none; padding: 8px 10px; box-shadow: 0 0 5px #ff8282 inset; border-radius: 50%;
      cells-icon { color: #ff00007d; font-size: 8px; width: 20px; }
    }
  }
}